<div class="container mt-4">
  <div class="col-md-6 mx-auto shadow p-5 mb-5 bg-body rounded">
  <h1>Second step</h1>
    <div class="mt-2">
      <p> i agree term and conditions</p>
      <%= radio_button_tag(:agree, 'agree') %>
      <%= label_tag(:agree, 'I agree') %><br/>
      <%= radio_button_tag(:agree, 'not agree') %>
      <%= label_tag(:agree, "I don't agree") %>
  </div>
</div>
