<div class="container ">

  <div class="col-md-6 mx-auto shadow p-3 mb-5 bg-body rounded">
    <h1>New Location</h1>

    <%= form_with model: @camplocation do |form| %>
      <div>
        <%= form.label :title %><br>
        <%= form.text_field :title , class: "form-control" %>
      </div>
      <div>
      <%= form.submit "Create", class: 'btn btn-success mb-3 mt-3' %>
      </div>
    <% end %>
  </div>
</div>
